@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #0d1117; 
  color: #e6edf3;
}

header {
  background-color: #0d1117;
  height: 100vh;
  position: relative;
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: auto;
}

/* ////........Navbar.......//// */

.navbar {
 position: fixed; 
 width: 100%; 
 z-index: 500; 
 background-color: rgba(13, 17, 23, 0.9); 
 backdrop-filter: blur(6px);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
}

.menu-items {
  display: flex;
}

.menu-items li {
  list-style: none;
  padding: 1rem;
}

.menu-items a {
  text-decoration: none;
  color: #e6edf3;
  font-size: 1.2rem;
  padding: 0.3rem;
  transition: all 0.3s ease;
}

.menu-items a:hover {
  color: #00ffd5;
  border-bottom: 2px solid #00ffd5;
}

.navbar .logo {
  order: 1;
  color: #00bfa6;
  font-size: 2rem;
  font-weight: 600;
}

/* ////........Home Content........//// */

.home-content .name {
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

.home-content .name h1 {
  font-size: 2.5rem;
  color: #00bfa6;
  margin-bottom: 1rem;
}

.home-content .name p {
  color: #e6edf3;
  font-size: 1.5rem;
  opacity: 0.85;
}



/* ////........About Me........//// */

/* About Section */
.about {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #0a192f; /* Deep navy blue */
  padding: 60px 20px;
  color: #ffffff;
}

.about-img img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid  #00bfa6; /* Teal accent */
  box-shadow: 0 0 20px rgba(100, 255, 218, 0.3);
  margin-bottom: 20px;
}

.about-text {
  max-width: 600px;
  margin-left: 40px;
}

.about-text h2 {
  font-size: 2.5rem;
  color: #00bfa6;
  margin-bottom: 10px;
}

.about-text h4 {
  font-size: 1.5rem;
  color: #ccd6f6;
  margin-bottom: 20px;
}

.about-text p {
  font-size: 1rem;
  line-height: 1.6;
  color: #8892b0;
}

.about-gri {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  margin: 30px 0;
}

.about-in h5 {
  background-color: #112240;
  padding: 10px 15px;
  border-left: 4px solid #64ffda;
  color: #ffffff;
  font-weight: 500;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.btn {
  display: inline-block;
  padding: 12px 25px;
  background-color:  #00bfa6;
  color: #0a192f;
  font-weight: bold;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color:  #64ffda;
}


/* ////.....Portfolio......///// */

.portfolio {
  background: #1f242d;
  padding: 6rem 0;
}

.proj-heading h1 {
  text-align: center;
  color: #0ef;
  font-size: 2.3rem;
  font-weight: 700;
  margin: 3rem 0;
}

.proj-1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.proj-1 img {
  height: 330px;
  width: 380px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 20px 10px -10px rgb(37 41 52 / 31%);
  margin-right: 1.7rem;
}

.proj-1 .proj1-details {
  width: 32rem;
}

.proj-1 .proj1-details i {
  font-size: 1.5rem;
  color: #0ef;
}

.proj-1 .proj1-details h2 {
  font-size: 2rem;
  color: #0ef;
}

.proj-1 .proj1-details p {
  font-size: 1.3rem;
  color: #0ef;
  font-weight: 600;
}

.proj-1 .proj1-details button {
  background: #07374a;
  padding: 0.5rem;
  margin-top: 0.5rem;
  width: 150px;
  border: none;
  border-bottom: 2px solid #0ef;
}

.proj-1 .proj1-details button a {
  text-decoration: none;
  color: #0ef;
  font-size: 1.1rem;
  transition: 0.2s ease-in-out;
  text-align: center;
  transition: 0.3s ease-in-out;
}

.proj-1 .proj1-details button .fas {
  font-size: 0.7rem;
  padding: 0.3rem;
  transition: 0.2s ease-in-out;
}

.proj-1 .proj1-details button:hover {
  background: #07374a;
}

.proj-1 .proj1-details button:hover a,
.proj-1 .proj1-details button:hover .fas {
  color: #f0f0f0;
}

/* ////.....proj2.....//// */

.proj-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.proj-2 img {
  height: 330px;
  width: 380px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 20px 10px -10px rgb(37 41 52 / 31%);
  margin-right: 1.7rem;
}

.proj-2 .proj2-details {
  width: 32rem;
}

.proj-2 .proj2-details i {
  font-size: 1.5rem;
  color: #0ef;
}

.proj-2 .proj2-details h2 {
  font-size: 2rem;
  color: #0ef;
}

.proj-2 .proj2-details p {
  font-size: 1.3rem;
  color: #0ef;
  font-weight: 600;
}

.proj-2 .proj2-details button {
  background: #07374a;
  padding: 0.5rem;
  margin-top: 0.5rem;
  width: 150px;
  border: none;
  border-bottom: 2px solid #07374a;
}

.proj-2 .proj2-details button a {
  text-decoration: none;
  color: #0ef;
  font-size: 1.1rem;
  transition: 0.2s ease-in-out;
  text-align: center;
  transition: 0.3s ease-in-out;
}

.proj-2 .proj2-details button .fas {
  font-size: 0.7rem;
  padding: 0.3rem;
  transition: 0.2s ease-in-out;
}

.proj-2 .proj2-details button:hover {
  background: #07374a;
}

.proj-2 .proj2-details button:hover a,
.proj-2 .proj2-details button:hover .fas {
  color: #f0f0e6;
}

.more-work {
  text-align: center;
  margin: 3rem 0 1rem 0;
}

.more-work p {
  font-size: 1.6rem;
  color: #0ef;
  font-weight: 500;
}

.more-work a {
  text-decoration: none;
  color: #f0f0e6;
  font-size: 1.3rem;
}

.more-work a:hover {
  border-bottom: 2px solid #f0f0e6;
}

/* ////......Contact......///// */

.contact {
  background: #07374a;
  position: relative;
  height: 92vh;
}

.contact-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.contact-content h2 {
  font-size: 2.5rem;
  font-weight: 400;
  color: #0ef;
  padding-bottom: 0.5rem;
}

.contact-content .mail {
  color: #f0f0e6;
  padding-bottom: 0.2rem;
  font-size: 1rem;
}

.contact-content .links {
  color: #0ef;
  padding: 0.5rem;
  padding-bottom: 1.8rem;
  font-size: 1rem;
}

.contact-content a {
  text-decoration: none;
  color: #0ef;
  padding: 0.5rem;
  transition: 0.3s ease-in-out;
}

.contact-content a:hover {
  color: #f0f0e6;
}

/* ////......Media query......//// */

@media (max-width: 500px) {
  html {
    font-size: 60%;
  }

  .about-content .left-content {
    flex-basis: 100%;
    text-align: center;
  }

  .about-content .right-content {
    flex-basis: 100%;
  }

  .skills {
    width: 100%;
  }

  .skills-bar .bar .progress-line {
    width: 100%;
  }

  .work-arrow {
    display: none;
  }

  .right-content h1 {
    margin-top: 3.2rem;
  }

  .proj-1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .proj-1 img {
    height: 230px;
    width: 290px;
    margin-bottom: 0.5rem;
  }

  .proj-2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .proj-2 img {
    height: 250px;
    width: 290px;
    margin-bottom: 0.5rem;
  }

  .work-arrow-2 a {
    font-size: 1.3rem;
    text-decoration: none;
    color: #0ef;
    display: block;
    text-align: center;
  }

  .contact-content {
    width: 100%;
  }
}

@media (min-width: 501px) and (max-width: 768px) {
  html {
    font-size: 65%;
  }

  .about-content .left-content {
    flex-basis: 100%;
    text-align: center;
  }

  .about-content .right-content {
    flex-basis: 100%;
  }

  .skills {
    width: 100%;
  }

  .skills-bar .bar .progress-line {
    width: 100%;
  }

  .work-arrow {
    display: none;
  }

  .right-content h1 {
    margin-top: 3.2rem;
  }

  .proj-1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .proj-1 img {
    height: 240px;
    width: 290px;
    margin-bottom: 0.5rem;
  }

  .proj-2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .proj-2 img {
    height: 240px;
    width: 290px;
    margin-bottom: 0.5rem;
  }

  .work-arrow-2 a {
    font-size: 1.3rem;
    text-decoration: none;
    color: #0ef;
    display: block;
    text-align: center;
  }

  .contact-content {
    width: 100%;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  html {
    font-size: 70%;
  }

  .about-content .left-content {
    flex-basis: 100%;
    text-align: center;
  }

  .about-content .right-content {
    flex-basis: 100%;
  }

  .skills {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .work-arrow {
    display: none;
  }

  .left-content h1 {
    margin-top: 3.2rem;
    text-align: center;
  }

  .right-content h1 {
    margin-top: 3.2rem;
    text-align: center;
  }

  .work-arrow-2 a {
    font-size: 1.3rem;
    text-decoration: none;
    color: #0ef;
    display: block;
    text-align: center;
  }

  .contact-content {
    width: 100%;
  }
}

@media (orientation: landscape) and (max-height: 500px) {
  .header {
    height: 90vmax;
  }
}


